<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Details</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% for d in dojo %}
        <h1>{{d.name}} Ninjas</h1>
    {% endfor %}

    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Dojo Name</th>
            </tr>
        </thead>

        {% for ninja in people %}
            <tr>
                <td>{{ninja.first_name}}</td>
                <td>{{ninja.last_name}}</td>
                <td>{{ninja.age}}</td>
                <td>{{ninja.dojo.name}}</td>
            </tr>
        {% endfor %}

    </table>

    <!-- Home Button -->
    <a href="/dojo">Home</a>

</body>
</html>