<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    
    <!-- Main Content -->
    <div id="main">
        <!-- Left Content -->
        <div id="left-content">
            <h2>New Dojo</h2>
            <form action="/create" method="POST">
                <label for="">Name: </label>
                <input type="text" name="name">
                <input type="submit" value="Create">
            </form>

            <!-- Add Ninja Button -->
            <a href="/new_ninja" class="add-ninja">Add Ninja</a>
        </div>

        <!-- Right Content -->
        <div id="right-content">
            <h2>All Dojos</h2>
            <ul>

                {% for dojo in dojo_list %}
                    <li><a href="/dojo/{{dojo.id}}">{{dojo.name}}</a></li>
                {% endfor %}

            </ul>
        </div>

    </div>
    
    
    

</body>
</html>